[MASTER]
ignore=
    manage.py,
    migrations,
    env,
    venv

disable=
    too-many-instance-attributes,
    len-as-condition,
    too-few-public-methods,
    missing-module-docstring,
    invalid-name,
    too-many-ancestors,
    no-member

[FORMAT]
max-line-length=180