[MASTER]
ignore=
    manage.py,
    migrations,
    env,
    venv,
    apps.py,

disable=
    too-many-instance-attributes,
    len-as-condition,
    too-few-public-methods,
    missing-module-docstring,
    invalid-name,
    too-many-ancestors,
    no-member,
    anomalous-backslash-in-string,
    abstract-method,
    too-many-locals,
    too-many-nested-blocks,
    too-many-branches,
    lost-exception,
    fixme

[FORMAT]
max-line-length=180
