2captcha-python==1.1.3
anyio==3.6.2
asgiref==3.5.2
astroid==2.12.13
async-generator==1.10
attrs==22.2.0
autopep8==2.0.0
bandit==1.7.4
beautifulsoup4==4.11.1
black==22.10.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cssbeautifier==1.14.7
Deprecated==1.2.13
dill==0.3.6
Django==4.1.4
django-cors-headers==3.13.0
djlint==1.19.9
EditorConfig==0.12.3
exceptiongroup==1.1.0
flake8==6.0.0
flake8-isort==5.0.3
frida==16.0.4
frida-tools==12.0.2
gitdb==4.0.10
GitPython==3.1.29
h11==0.14.0
html-tag-names==0.1.2
html-void-elements==0.1.0
httpcore==0.16.2
httpx==0.23.1
idna==3.4
importlib-metadata==5.2.0
isort==5.11.3
jsbeautifier==1.14.7
lazy-object-proxy==1.8.0
Levenshtein==0.20.9
markdownify==0.11.6
mccabe==0.7.0
mypy-extensions==0.4.3
numpy==1.24.1
outcome==1.2.0
pathspec==0.10.2
pbr==5.11.0
platformdirs==2.5.4
prompt-toolkit==3.0.33
protobuf==4.21.12
pyChatGPT==0.4.3.1
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
PyGithub==1.57
Pygments==2.13.0
PyJWT==2.6.0
pylint==2.15.9
pylint-django==2.5.3
pylint-plugin-utils==0.7
PyNaCl==1.5.0
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
PySocks==1.7.1
PyVirtualDisplay==3.0
PyYAML==6.0
rapidfuzz==2.13.7
regex==2022.10.31
requests==2.28.1
revChatGPT==0.1.1
rfc3986==1.5.0
selenium==4.7.2
six==1.16.0
sklearn==0.0.post1
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
stevedore==4.1.1
tls-client==0.1.8
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
undetected-chromedriver==3.2.1
urllib3==1.26.13
wcwidth==0.2.5
websockets==10.4
wrapt==1.14.1
wsproto==1.2.0
yapf==0.32.0
zipp==3.11.0
